<div id="inputBox" class="row">
  <p id="explanation">Write the amount and the currency code. For example "100 USD"</p>
  <input id="searchBar" [(ngModel)]="search" placeholder="type here..." (keyup)="smartSearch(search)" autofocus>
</div>

<div id="resultBox" class="row">
  <div *ngIf="conversionResult.length > 0" id="currencyOrigin">
    {{conversionResult[0].value}} {{conversionResult[0].code | uppercase}} =
  </div>
  <li *ngFor="let result of conversionResult | slice:1 " (click)="onSelect(result)">
    {{result.value | currency: result.code}}
  </li>
</div>
