#inputBox {
  text-align: center;
  margin: auto;
  max-width: 200mm;
}

#explanation {
  font-style: italic;
}

#searchBar {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  height: inherit;
  width: inherit;
  min-width: 50mm;
  padding: 1mm 2mm 1mm 2mm;
  border: 1px solid grey;
  border-radius: 2mm;
  font-size: 5mm;
}

#resultBox {
  text-align: center;
  margin: auto;
  max-width: 200mm;
  padding: 3mm 2mm 1mm 2mm;
}

#currencyOrigin {
  text-align: left;
  font-size: 7mm;
}

li {
  text-align: right;
  font-size: 6mm;
  padding: 1mm;
  border-radius: 3mm;
  list-style-type: none;
}

li:hover {
  background-color: #eee;
}
